.summary {
  font-size: 0.9rem;
  font-weight: 500;
  margin-left: 40px;
  margin-bottom: 10px;
  color: black;
}

.canvasjs-chart-container {
  // display: none;
  // button {
  //   display: none;
  // }
}

.canvasjs-chart-toolbar {
  // display: none;
  // color:rgb(255, 83, 112);
}
